Repository pohlai88/aibos-erp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aibos-erp/platform-team, @aibos-erp/devops-team, @aibos-erp/backend-team, @aibos-erp/security-team, @aibos-erp/frontend-team, @aibos-erp/design-team

fix: convert dependency-cruiser config to ES modules format
  .dependency-cruiser.js
Owners: @aibos-erp/platform-team

fix: resolve TypeScript errors in eventsourcing package
  packages/eventsourcing/src/core/aggregate-root.ts
  packages/eventsourcing/src/idempotency/idempotency-key.ts
Owners: @aibos-erp/platform-team

docs: Add critical debugging insights from real debugging session
  docs/DEBUGGING.md
Owners: @aibos-erp/platform-team

feat: implement intercompany and consolidation features aligned with MFRS/IFRS
  packages/accounting/src/commands/create-account-command.ts
  packages/accounting/src/domain/account.ts
  packages/accounting/src/domain/chart-of-accounts.ts
  packages/accounting/src/events/account-companion-links-set-event.ts
  packages/accounting/src/events/account-posting-policy-changed-event.ts
  packages/accounting/src/services/group-coa-factory.ts
  packages/accounting/src/services/intercompany-validator.ts
Owners: @aibos-erp/platform-team

feat: implement MFRS/IFRS-compliant Chart of Accounts system
  packages/accounting/package.json
  packages/accounting/src/domain/Money.ts
  packages/accounting/src/domain/journal-entry-line.ts
  packages/accounting/src/domain/journal-entry-status.ts
  packages/accounting/src/index.ts
  packages/accounting/src/schema/standards-schema.sql
  packages/accounting/src/services/standards-compliance.ts
  packages/accounting/src/services/template-importer.ts
  packages/accounting/src/services/template-registry.ts
  packages/accounting/src/types/standards.ts
  pnpm-lock.yaml
  templates/coa/mfrs/2024.09/accounts/1000-current-assets.yaml
  templates/coa/mfrs/2024.09/accounts/1100-cash-and-cash-equivalents.yaml
  templates/coa/mfrs/2024.09/accounts/1200-trade-receivables.yaml
  templates/coa/mfrs/2024.09/accounts/1201-allowance-for-doubtful-accounts.yaml
  templates/coa/mfrs/2024.09/accounts/1600-property-plant-equipment.yaml
  templates/coa/mfrs/2024.09/accounts/1601-accumulated-depreciation-ppe.yaml
  templates/coa/mfrs/2024.09/accounts/1700-goodwill.yaml
  templates/coa/mfrs/2024.09/accounts/3300-non-controlling-interests.yaml
  templates/coa/mfrs/2024.09/accounts/3400-cumulative-translation-adjustment.yaml
  templates/coa/mfrs/2024.09/accounts/7400-depreciation-expense.yaml
  templates/coa/mfrs/2024.09/index.yaml
Owners: @aibos-erp/platform-team

feat(accounting): refactor events with production-ready improvements
  packages/accounting/.gitattributes
  packages/accounting/src/domain/Money.ts
  packages/accounting/src/domain/chart-of-accounts.ts
  packages/accounting/src/domain/journal-entry.ts
  packages/accounting/src/domain/safe-objects.ts
  packages/accounting/src/events/account-companion-links-set-event.ts
  packages/accounting/src/events/account-created-event.ts
  packages/accounting/src/events/account-parent-changed-event.ts
  packages/accounting/src/events/account-posting-policy-changed-event.ts
  packages/accounting/src/events/account-updated-event.ts
  packages/accounting/src/events/common.ts
  packages/accounting/src/events/journal-entry-posted-event.ts
  packages/accounting/src/index.ts
  packages/accounting/src/schemas/api-schemas.ts
  packages/accounting/src/schemas/import-schemas.ts
  packages/accounting/src/services/template-registry.ts
Owners: @aibos-erp/platform-team

feat: enhance accounting module with MFRS compliance and schema improvements
  eslint.config.js
  packages/accounting/src/database/README.md
  packages/accounting/src/database/standards-schema.sql
  packages/accounting/src/events/journal-entry-posted-event.ts
  packages/accounting/src/index.ts
  packages/accounting/src/services/accounting-period-service.ts
  packages/accounting/src/services/multi-currency-service.ts
  packages/accounting/src/services/standards-compliance.ts
  packages/accounting/src/services/tax-compliance-service.ts
  packages/accounting/src/validation/README.md
  packages/accounting/src/validation/api-schemas.ts
  packages/accounting/src/validation/import-schemas.ts
Owners: @aibos-erp/platform-team

docs: update debugging guide with TS6307 battle-tested solution
  docs/debugging/DEBUGGING.md
Owners: @aibos-erp/platform-team

feat: Complete Phase 1 Accounting Module Implementation
  docs/development/week-9-10-accounting-world-class-development-plan.md
  docs/reports/weeks-9-10-audit-report.md
  package.json
  packages/accounting/package.json
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/accounting.module.ts
  packages/accounting/src/accounting.module.ts.bak
  packages/accounting/src/domain/aggregates/chart-of-accounts.aggregate.ts
  packages/accounting/src/domain/aggregates/journal-entry.aggregate.ts
  packages/accounting/src/domain/commands/accounting.commands.ts
  packages/accounting/src/domain/entities/accounting.entities.ts
  packages/accounting/src/domain/events/domain-events.ts
  packages/accounting/src/domain/interfaces/repositories.interface.ts
  packages/accounting/src/infrastructure/database/data-source.ts
  packages/accounting/src/infrastructure/database/database.module.ts
  packages/accounting/src/infrastructure/database/entities/account.entity.ts
  packages/accounting/src/infrastructure/database/entities/accounting-event.entity.ts
  packages/accounting/src/infrastructure/database/entities/general-ledger-entry.entity.ts
  packages/accounting/src/infrastructure/database/entities/outbox-event.entity.ts
  packages/accounting/src/infrastructure/database/migrations/001_acc_event.sql
  packages/accounting/src/infrastructure/database/migrations/002_create_rls_policies.sql
  packages/accounting/src/infrastructure/repositories/account.repository.ts
  packages/accounting/src/infrastructure/repositories/event-store.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-account.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-event-store.repository.ts
  packages/accounting/src/services/accounting-health.service.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/tsconfig.json
  packages/accounting/tsconfig.test.json
  packages/accounting/tsup.config.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @aibos-erp/platform-team, @aibos-erp/frontend-team, @aibos-erp/design-team

feat: implement TypeORM repository with bulk lookup and transactional outbox
  packages/accounting/package.json
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/accounting.module.ts
  packages/accounting/src/domain/interfaces/journal-entry-repository.interface.ts
  packages/accounting/src/domain/interfaces/repositories.interface.ts
  packages/accounting/src/infrastructure/database/entities/outbox-event.entity.ts
  packages/accounting/src/infrastructure/database/migrations/1699999999999-add-outbox-resilience-fields.ts
  packages/accounting/src/infrastructure/database/repositories/typeorm-account.repository.ts
  packages/accounting/src/infrastructure/messaging/kafka-producer.service.ts
  packages/accounting/src/infrastructure/projections/general-ledger.projection.ts
  packages/accounting/src/infrastructure/repositories/account.repository.ts
  packages/accounting/src/infrastructure/repositories/event-store.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-account.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-event-store.repository.ts
  packages/accounting/src/infrastructure/resilience/circuit-breaker.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/services/outbox.service.ts
  pnpm-lock.yaml
Owners: @aibos-erp/platform-team

feat: enhance multi-currency layer with caching, cross-rate awareness, and accounting invariants
  packages/accounting/package.json
  packages/accounting/src/accounting.module.ts
  packages/accounting/src/infrastructure/database/entities/exchange-rate.entity.ts
  packages/accounting/src/infrastructure/database/migrations/1700000000000-exchange-rates-unique-per-day.ts
  packages/accounting/src/services/exchange-rate.service.ts
  packages/accounting/src/services/multi-currency-service.ts
  pnpm-lock.yaml
Owners: @aibos-erp/platform-team

Complete multi-currency implementation with ExchangeRateEntity and event payload validation
  packages/accounting/src/__tests__/accounting.service.event-payload.spec.ts
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/infrastructure/database/entities/exchange-rate.entity.ts
  packages/accounting/src/services/accounting.service.ts
  tatus
Owners: @aibos-erp/platform-team

Fix TypeScript errors: add baseCurrency to PostJournalEntryCommand and fix ExchangeRateEntity type mismatches
  packages/accounting/src/commands/post-journal-entry-command.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/services/exchange-rate.service.ts
Owners: @aibos-erp/platform-team

Fix TypeScript errors: update PostJournalEntryCommand structure and resolve type mismatches
  packages/accounting/src/api/controllers/accounting-controller.ts
  packages/accounting/src/commands/post-journal-entry-command.ts
  packages/accounting/src/domain/commands/accounting.commands.ts
  packages/accounting/src/domain/journal-entry.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/services/exchange-rate.service.ts
  packages/accounting/src/services/intercompany-validator.ts
Owners: @aibos-erp/platform-team

Refactor accounting package: consolidate services, update tests, and improve architecture
  packages/accounting/src/__tests__/accounting-service.test.ts
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/accounting.module.ts.bak
  packages/accounting/src/api/accounting-api-module.ts
  packages/accounting/src/api/controllers/accounting-controller.ts
  packages/accounting/src/domain/aggregates/chart-of-accounts.aggregate.ts
  packages/accounting/src/domain/aggregates/journal-entry.aggregate.ts
  packages/accounting/src/domain/chart-of-accounts.ts
  packages/accounting/src/domain/journal-entry.ts
  packages/accounting/src/events/account-created-event.ts
  packages/accounting/src/index.ts
  packages/accounting/src/infrastructure/projections/general-ledger.projection.ts
  packages/accounting/src/infrastructure/repositories/account.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-event-store.repository.ts
  packages/accounting/src/services/accounting-service.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/services/outbox.service.ts
  packages/accounting/test/services/accounting.service.event-payload.spec.ts
Owners: @aibos-erp/platform-team

feat: comprehensive codebase improvements and lint fixes
  apps/bff/package.json
  apps/bff/src/app.module.ts
  apps/bff/src/modules/accounting/accounting.controller.ts
  apps/bff/src/modules/accounting/accounting.module.ts
  apps/bff/src/modules/accounting/accounting.service.ts
  eslint.config.js
  package.json
  packages/accounting/src/__tests__/accounting.service.event-payload.spec.ts
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/__tests__/tax-line-calculator.service.spec.ts
  packages/accounting/src/accounting.module.ts
  packages/accounting/src/domain/commands/accounting.commands.ts
  packages/accounting/src/domain/events/domain-events.ts
  packages/accounting/src/domain/interfaces/journal-entry-repository.interface.ts
  packages/accounting/src/domain/interfaces/repositories.interface.ts
  packages/accounting/src/index.ts
  packages/accounting/src/infrastructure/repositories/event-store.repository.ts
  packages/accounting/src/infrastructure/repositories/in-memory-event-store.repository.ts
  packages/accounting/src/services/accounting-period.service.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/services/financial-reporting.service.ts
  packages/accounting/src/services/kafka-producer.service.ts
  packages/accounting/src/services/multi-currency.service.ts
  packages/accounting/src/services/outbox.service.ts
  packages/accounting/src/services/tax-account.mapper.ts
  packages/accounting/src/services/tax-compliance.service.ts
  packages/accounting/src/services/tax-line-calculator.service.ts
  packages/accounting/src/services/trial-balance.service.ts
  packages/accounting/test/services/accounting.service.event-payload.spec.ts
  pnpm-lock.yaml
  scripts/codemods/fix-accounting-imports.cjs
  scripts/codemods/fix-accounting-imports.ts
  scripts/verify-structure.mjs
Owners: @aibos-erp/backend-team, @aibos-erp/platform-team

fix: resolve Next.js plugin and configuration issues
  apps/web/.eslintrc.json
  apps/web/next.config.js
  eslint.config.js
Owners: @aibos-erp/frontend-team, @aibos-erp/platform-team

fix: correct language distribution by excluding test reports from git tracking
  .gitignore
  playwright-report/data/3515f6feec2c2fc46529e50a2dc0ece148d4bc38.png
  playwright-report/data/7c5c9240852a05bf2b1f06b008bc9f9c8af68ee0.md
  playwright-report/data/d59a77c6232830d4843189f7e5a8a1d7da542cc2.webm
  playwright-report/index.html
  test-results/.last-run.json
  test-results/homepage-AI-BOS-ERP-Homepa-28d11-d-have-proper-accessibility-firefox/error-context.md
  test-results/homepage-AI-BOS-ERP-Homepa-28d11-d-have-proper-accessibility-firefox/test-failed-1.png
  test-results/homepage-AI-BOS-ERP-Homepa-28d11-d-have-proper-accessibility-firefox/video.webm
  test-results/results.json
  test-results/results.xml
Owners: @aibos-erp/platform-team

feat: enhance accounting tests with ES-first approach
  packages/accounting/package.json
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/__tests__/integration/accounting.integration.spec.ts
  packages/accounting/src/services/__tests__/doubles/in-memory-event-store.ts
  packages/accounting/src/services/accounting.service.ts
  packages/accounting/src/tokens.ts
  packages/accounting/vitest.config.ts
  pnpm-lock.yaml
Owners: @aibos-erp/platform-team

fix: resolve dependency issues and improve project stability
  apps/bff/package.json
  package.json
  packages/accounting/package.json
  packages/eventsourcing/src/projections/projection.ts
Owners: @aibos-erp/backend-team, @aibos-erp/platform-team

feat: add optimistic concurrency test and real migrations integration
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/__tests__/integration/accounting.integration.spec.ts
Owners: @aibos-erp/platform-team

feat: Complete accounting package production readiness
  packages/accounting/src/__tests__/accounting.service.spec.ts
  packages/accounting/src/accounting.module.ts
  packages/accounting/src/api/accounting-api-module.ts
  packages/accounting/src/database/README.md
  packages/accounting/src/services/accounting.service.ts
Owners: @aibos-erp/platform-team

fix: apply package configuration standard to all packages
  packages/accounting-contracts/package.json
  packages/accounting-web/package.json
  packages/accounting-web/tsup.config.ts
  packages/eventsourcing/src/index.ts
  packages/eventsourcing/vitest.config.ts
  packages/observability/package.json
  packages/observability/tsup.config.ts
  packages/policy/package.json
  packages/policy/tsup.config.ts
  tsconfig.json
Owners: @aibos-erp/platform-team

feat: complete package configuration standardization and GitHub sync
  apps/bff/src/common/entities/base.entity.ts
  apps/bff/src/modules/auth/entities/permission.entity.ts
  apps/bff/src/modules/auth/entities/user.entity.ts
  apps/web/next.config.js
  apps/web/src/app/page.tsx
  apps/web/src/middleware.ts
  docker-compose.dev.yml
  docs/development/CLEAN_MONOREPO_REFACTORING_COMPLETE.md
  docs/development/DEPENDENCY_COMPATIBILITY_REPORT.md
  docs/development/DEPENDENCY_STATUS_FINAL.md
  docs/development/DEVELOPMENT_PREPARATION.md
  docs/development/ENTERPRISE_ACCOUNTING_ADVANCED_FEATURES.md
  docs/development/ENTERPRISE_ACCOUNTING_BUSINESS_FEATURES.md
  docs/development/ENTERPRISE_ACCOUNTING_FOUNDATION.md
  docs/development/ENTERPRISE_ACCOUNTING_IMPLEMENTATION_GUIDE.md
  docs/development/FINAL_STATUS_REPORT.md
  docs/development/IMPLEMENTATION_SUMMARY.md
  docs/development/PACKAGE_CONFIGURATION_STANDARD.md
  docs/development/PHASE1_IMPLEMENTATION_SUMMARY.md
  docs/development/QUICK_START.md
  docs/development/README.md
  docs/development/REPOSITORY_ARCHITECTURE_ANALYSIS.md
  docs/development/technical-implementation-guide.md
  eslint.config.js
  packages/accounting-web/src/components/JournalEntryForm.tsx
  packages/accounting-web/src/hooks/useAccounting.ts
  packages/accounting-web/src/lib/accounting-api.ts
  packages/accounting/tsup.config.ts
  packages/contracts/tsconfig.json
  packages/eventsourcing/src/cli/replay-cli.ts
  packages/eventsourcing/tsup.config.ts
  pnpm-lock.yaml
  tatus --porcelain
Owners: @aibos-erp/backend-team, @aibos-erp/frontend-team, @aibos-erp/platform-team

fix: resolve all Next.js configuration and dependency conflicts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/tsconfig.json
  packages/accounting-contracts/package.json
  pnpm-lock.yaml
Owners: @aibos-erp/frontend-team, @aibos-erp/platform-team

docs: add comprehensive Next.js configuration debugging insights
  docs/debugging/DEBUGGING.md
  docs/development/PACKAGE_CONFIGURATION_STANDARD.md
Owners: @aibos-erp/platform-team

fix: resolve Buffer/Uint8Array type clash in period-close service
  docs/debugging/DEBUGGING.md
  docs/development/ANTI_DRIFT_DEBUGGING_EXCELLENCE.md
  docs/development/ENTERPRISE_TRANSFORMATION_SUMMARY.md
  docs/development/ENTERPRISE_UPGRADE_MASTER_PLAN.md
  docs/development/ESLINT_MASTERY_GUIDE.md
  packages/accounting/src/__tests__/period-close.service.merkle.test.ts
  packages/accounting/src/fx-rates/fx-policy.service.ts
  packages/accounting/src/migration/migration-orchestrator.ts
  packages/accounting/src/period-close/period-close.service.ts
Owners: @aibos-erp/platform-team

Update accounting web components and page layout
  apps/web/src/app/accounting/page.tsx
  packages/accounting-web/src/components/ChartOfAccounts.tsx
  packages/accounting-web/src/components/FinancialDashboard.tsx
  packages/accounting-web/src/components/JournalEntryForm.tsx
  packages/accounting-web/src/components/TrialBalance.tsx
Owners: @aibos-erp/frontend-team, @aibos-erp/platform-team

.github/CODEOWNERS:

# AI-BOS ERP Code Owners
# This file defines who is responsible for different parts of the codebase

# Global owners (require approval from at least one)
* @aibos-erp/platform-team

# Critical security and infrastructure components
/.github/workflows/ @aibos-erp/devops-team @aibos-erp/platform-team
/.github/CODEOWNERS @aibos-erp/platform-team
/.github/pull_request_template.md @aibos-erp/platform-team

# Database and migrations
/apps/bff/src/migrations/ @aibos-erp/platform-team @aibos-erp/backend-team
/apps/bff/src/seeds/ @aibos-erp/platform-team @aibos-erp/backend-team
/apps/bff/src/config/database.config.ts @aibos-erp/platform-team @aibos-erp/backend-team

# Authentication and security
/apps/bff/src/modules/auth/ @aibos-erp/platform-team @aibos-erp/security-team
/apps/bff/src/common/interceptors/ @aibos-erp/platform-team @aibos-erp/backend-team

# Anti-drift guardrails
/.eslintrc.js @aibos-erp/platform-team
/.dependency-cruiser.js @aibos-erp/platform-team
/turbo.json @aibos-erp/platform-team
/tsconfig.json @aibos-erp/platform-team

# Package configurations
/package.json @aibos-erp/platform-team
/packages/*/package.json @aibos-erp/platform-team
/apps/*/package.json @aibos-erp/platform-team

# Frontend components
/apps/web/ @aibos-erp/frontend-team
/packages/ui/ @aibos-erp/frontend-team @aibos-erp/design-team

# Backend services
/apps/bff/ @aibos-erp/backend-team
/services/*/ @aibos-erp/backend-team

# Contracts and API definitions
/packages/contracts/ @aibos-erp/backend-team @aibos-erp/frontend-team

# Documentation
/docs/ @aibos-erp/platform-team
/*.md @aibos-erp/platform-team

# Configuration files
/.env* @aibos-erp/devops-team
/docker-compose.yml @aibos-erp/devops-team
/Dockerfile* @aibos-erp/devops-team

# Quality and testing
/.bundlesizerc @aibos-erp/frontend-team @aibos-erp/platform-team
/.lighthouserc.json @aibos-erp/frontend-team @aibos-erp/platform-team
/.axerc.json @aibos-erp/frontend-team @aibos-erp/platform-team
/.piirc.json @aibos-erp/platform-team @aibos-erp/security-team
/.data-retention.json @aibos-erp/platform-team @aibos-erp/security-team
